amy-compiler/target/
amy-compiler/project/
amy-compiler/.bloop/
amy-compiler/.metals/
amy-compiler/.vscode/
amy-compiler/.bsp/
amy-compiler/wasmout/

amy-extension/out/
amy-extension/node_modules/

.metals/*
