amy-compiler/target/
amy-compiler/project/
amy-compiler/.bloop/
amy-compiler/.metals/
amy-compiler/.vscode/
amy-compiler/.bsp/
amy-compiler/wasmout/

amy-extension/out/
amy-extension/node_modules/

# Editor and IDE settings
.vscode/
.metals/
.bloop/
metals.sbt
project/metals.sbt

# SBT and Scala build artifacts
target/
project/target/
project/project/

# Mac OS folder settings (just in case)
.DS_Store